```
PORT=

# TWILIO DETAILS
TWILIO_NUMBER=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_SID=

# EMAIL SERVICE
EMAIL_PWD=
EMAIL_ADDRESS=

JWT_SECRET=

# SUPABASE CREDENTIALS
SUPABASE_DB_PASSWORD=
SUPABASE_DB_PORT=
SUPABASE_DB_NAME=
SUPABASE_DB_USER=
SUPABASE_DB_HOST=
DATABASE_URL=
DIRECT_URL=
```

#LOCAL DB
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=